span {
    font-style: italic;
    background-color: black;
    color: antiquewhite;
}

.bold {
    font-weight: bold;
}
.list1 {
    list-style: armenian;
}
/*Подсветка тега*/
.exp {
    font-size: 20px;
    background-color: brown;
    margin: 30px;
}
