body{
    margin: 0;
    padding: 0;
}
.span {
    font-style: italic;
    background-color: black;
    color: antiquewhite;
}

.bold {
    font-weight: bold;
}
.list1 {
    border: solid;
    border-width: 0.5px;
    padding: 20px ;
    display: inline-block;
}
/*Подсветка тега*/
.exp {
    font-size: 20px;
    background-color: brown;
    margin: 30px;
}
*{
    /*margin: 0;*/
/*    обнуление всех отсупов*/
}
.padding{
    padding: 30px;
    background-color: greenyellow;
/*    отступ до контента внутрь    */
}
.inline{
    background-color: aquamarine;
    font-size: 32px;
    text-align: center;
    display: inline-block;
}

h2{
    background-color: darkorchid;
    font-size: 30px;
}
.main{
    text-align: center;
}
.colored{
    background-color: green;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
}
.colored>img{
    max-width: 450px;
    max-height: 450px;
}
.list1>p{
    text-align: center;
    font-weight: bold;
}
.img-cont{
    float: right;
    border-style: solid;
    padding: 5px;
    margin-left: 15px;
}
.img-cont>div{
    display: flex;
    flex-direction: column;
}
.nav-cont{
    display: flex;
    justify-content: space-between;
    width: 800px;
}
.nav-cont>nav>ul{
    display: flex;
    list-style: none;
    margin: unset;
    padding: unset;
}
.nav-cont>nav>ul>li>a{
    display: block;
    padding: 10px;
    border-style: solid;
    border-width: 0.5px;
}
