.span {
    font-style: italic;
    background-color: black;
    color: antiquewhite;
}

.bold {
    font-weight: bold;
}
.list1 {
    list-style: armenian;
}
/*Подсветка тега*/
.exp {
    font-size: 20px;
    background-color: brown;
    margin: 30px;
}
*{
    /*margin: 0;*/
/*    обнуление всех отсупов*/
}
.padding{
    padding: 30px;
    background-color: greenyellow;
/*    отступ до контента внутрь    */
}
.inline{
    background-color: aquamarine;
    font-size: 32px;
    text-align: center;
    display: inline-block;
}

h2{
    background-color: darkorchid;
    font-size: 30px;
}
.main{
    text-align: center;
}
.colored{
    background-color: green;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
